html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 80px;
  padding: 15px 15px;
  margin: 0 -15px;
  width: 100%;
}

@media (min-width: 768px) {
  .footer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .footer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .footer {
    width: 1170px;
  }
}
