@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('lato'), url(../fonts/lato.woff) format('woff');
}

@media (min-width: 768px) {
  body > .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  body > .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  body > .container {
    width: 1170px;
  }
}

.navbar-wrapper {
  font-family: 'Lato';
}

.navbar-inverse {
	background-color: #79509F;
	border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-inverse .navbar-brand {
  color: #333;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0;
}

.navbar {
  margin-bottom: 0;
}

.collapse .navbar-nav > li > a {
  line-height: 60px;
  font-size: 1.2em;
  padding: 15px 14px;
}

.in .navbar-nav > li > a {
  line-height: 20px;
  color: #fff;
}

.shrink .in .navbar-nav > li > a {
  line-height: 15px;
}

.dropdown-menu {
  font-size: 1.1em;
  min-width: 140px;
  border: none;
}

.dropdown-menu > li > a {
  padding: 3px 13px;
}

.navbar-toggle {
  margin: 28px 15px 0 0;
  background-color: #79509F;
}

.navbar-collapse {
  box-shadow: none;
}

.navbar-collapse.in {
  overflow-y: visible;
}

nav.shrink .navbar-brand {
  margin: 5px 0 5px 5px;
  font-size: 1.8em;
}

nav.shrink .navbar-nav > li > a {
  line-height: 30px;
  font-size: 1.1em;
}

nav.shrink .dropdown-menu {
  font-size: 1em;
}

nav.shrink .navbar-toggle {
  margin: 13.5px 15px 0 0;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #936AB9;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: none;
}

.in .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #936AB9;
}

.navbar-inverse .navbar-toggle:active {
  background-color: #79509F;
}