/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.construction {
    display: none;
}

.side-nav li ul li a, .side-nav li a {
    font-size: 120%;
}

.footer-link a:hover {
  color: yellow;
}

nav ul a {
  color: #444;
  font-size: 120%;
}

nav .brand-logo img {
  height: 75%;
  width: 75%;
  padding-top: 2px;
}

p {
  line-height: 2rem;
}

h2 {
  font-size: 250%;
}

h4 {
  font-size: 150%;
}

h5 {
  font-size: 150%;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.card.medium {
  height: 275px; }
  .card.medium .card-image {
    height: 200px; }
  .card.medium .card-content {
    height: 75px;
}
